<p>coucou</p>
<% @letters.each do |letter| %>
  <%= letter %>
<% end %>

<%= form_for [@party, @solution] do |f| %>
  <%= f.label :solution %>
  <%= f.text_field :solution %>
  <%= f.submit %>
<% end %>

